<configuration>

    <define name="withJansi" class="com.github.jcgay.maven.color.logback.WithJansiResolver" />
    <define name="activation" class="com.github.jcgay.maven.color.logback.ColorActivationResolver" />

    <conversionRule conversionWord="mavenHighlight"
                    converterClass="com.github.jcgay.maven.color.logback.MavenHighlightConverter" />

    <conversionRule conversionWord="mavenMsg"
                    converterClass="com.github.jcgay.maven.color.logback.MavenMessageConverter" />

    <appender name="STDOUT-true" class="com.github.jcgay.maven.color.logback.MavenColorConsoleAppender">
        <useJansi>${withJansi}</useJansi>
        <encoder>
            <pattern>%mavenHighlight(%mavenMsg%n%rEx)</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT-false" class="com.github.jcgay.maven.color.logback.MavenColorConsoleAppender">
        <encoder>
            <pattern>[%replace(%level){'WARN','WARNING'}] %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <root level="${maven.logging.root.level:-INFO}">
        <appender-ref ref="STDOUT-${activation}" />
    </root>
</configuration>
