<configuration>

    <define name="withJansi" class="com.github.jcgay.maven.color.logback.WithJansiResolver" />

    <conversionRule conversionWord="mavenHighlight"
                    converterClass="com.github.jcgay.maven.color.logback.MavenHighlightConverter" />

    <conversionRule conversionWord="mavenMsg"
                    converterClass="com.github.jcgay.maven.color.logback.MavenMessageConverter" />

    <appender name="STDOUT" class="com.github.jcgay.maven.color.logback.MavenColorConsoleAppender">
        <useJansi>${withJansi}</useJansi>
        <encoder>
            <if condition='"false".equals(property("maven.color"))'>
                <then>
                    <pattern>[%replace(%level){'WARN','WARNING'}] %msg%n%rEx</pattern>
                </then>
                <else>
                    <pattern>%mavenHighlight(%mavenMsg%n%rEx)</pattern>
                </else>
            </if>
        </encoder>
    </appender>

    <root level="${maven.logging.root.level:-INFO}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
