<?xml version="1.0" encoding="UTF-8" ?>
<configuration packages="com.github.jcgay.maven.color.log4j2">
    <properties>
        <property name="maven.logging.root.level">INFO</property>
        <property name="maven.color">true</property>
    </properties>
    <appenders>
        <Console name="maven-color-true" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%mavenMsg%n%rEx}{FATAL=red, ERROR=red, WARN=yellow, INFO=white, DEBUG=white, TRACE=white}"/>
        </Console>
        <Console name="maven-color-false" target="SYSTEM_OUT">
            <PatternLayout pattern="[%p{WARN=WARNING}] %msg%n%rEx"/>
        </Console>
    </appenders>
    <loggers>
        <root level="${sys:maven.logging.root.level}">
            <appender-ref ref="maven-color-${sys:maven.color}"/>
        </root>
    </loggers>
</configuration>
